.about {
    padding-top: 1px;
    

    &__wrap {
        display: flex;
        margin-top: 200px;
        flex-wrap: wrap;
    }

    &__evel {
        margin-bottom: 60px;
    }

    &__title {
        white-space: nowrap;
    }

    &__text {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 135px;
    }

    &__link {
        margin-left: 40px;
        margin-bottom: 70px;
    }
    
    &__box {
        max-width: 570px;
        width: 100%;
        &:first-child {
            margin-right: 60px;

        }

        &:last-child {
            display: flex;
            justify-content: space-between;
        }
    }

    &__img {
        position: relative;
        @include size(323px, 527px);

        &::before {
            @include pos($b:85px, $r:0);
            content: '\e905';
            font-family: 'icomoon';
            font-size: 190px;
            color: $brown;
            opacity: 0.2;
            z-index: -1;
            transition: all .3s;
            pointer-events: none;
            transform: rotate(-5.41deg) translateX(60%);
        }
    }

    &__article {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 460px;
        margin-left: 80px;
    }

    &__notes {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 5px;
    }
}