.header {
    padding-top: 1px;
    min-height: 100vh;
    background-color: $back;
    padding-bottom: 1px;

    &__title {

    }

    &__subtitle {
        font-weight: 300;
        font-size: 36px;
        line-height: 46px;
        margin-top: 225px;
    }

    &__wrap {
        display: flex;
        margin-top: -30px;
        position: relative;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    &__pic {
        margin-bottom: 20px;
        display: flex;
    }

    &__img {
        &:nth-child(3) {
            margin-top: 120px;
        }

    }

    &__link {
        margin-left: 9.16%;
        margin-top: 300px;
        margin-right: 13%;
    }

    &__text {
        font-size: 18px;
        line-height: 36px;

        &:nth-last-child(2) {
            font-size: 14px;
            line-height: 26px;
            max-width: 250px;
            width: 100vh;
            margin-left: -10px;
        }
    }

    &__author {
        font-weight: 600;
        font-size: 14px;
        line-height: 42px;
        margin-left: -10px;

    }
}