.title {
    font: 400 180px/200px $play;
    font-style: italic;
    color: $brown;
    opacity: 0.1;
    letter-spacing: 0.1em;
    z-index: 1;
    user-select: none;
}

.subtitle {
    font: 400 48px/52px $play;
    font-style: italic;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 18px;
}

.evel {
    position: relative;
}

.link {
    text-decoration: none;
    position: relative;
    font-size: 18px;
    line-height: 18px;
    color: $brown;
    letter-spacing: 0.22em;
    font-weight: normal;
    color: $brown;
    align-items: center;
    display: inline-block;
    transition: all .3s;

    &::before {
        position: absolute;
        content: '\e904';
        font-family: 'icomoon';
        font-size: 130px;
        color: $brown;
        transform: translateX(-37%);
        opacity: 0.1;
        transition: all .3s;
        pointer-events: none;

    }

    &:hover {

        &::before {
            opacity: 1;
        }
    }

}